div.success {
    background-color: green;
};

div.warning {
    background-color: orange;
};

.hi {
    background-color: orangered;
};

div.danger {
    background-color: red;
}

.card {
    background-color: blue;
    color: white;
}

.forecast {
    background-color: teal;
    margin: 10px, 0px;
    padding: 10px;
}

.forecast > * {
    color: white;
    padding: 4px;
}